/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*body {
  background-color: #dddddb;
}

.headers {
 background-color: #939393;
 width: 100%;
 text-align: center;
 font-family: sans-serif;
}
.categorys {
  background-color: #a7e0f2;
}

.form {
  background-color: #a7e0f2;
  text-align: center;
  width: 50%;
  margin-left: 25%;
  border-radius: 20%;
}

.white-background {
  background-color: white;
}*/

.top-page {
  background-color: #80ced6;
  text-align: center;
}

.form {
  text-align: center;
  background-color: #d5f4e6;
  width: 50%;
  margin: 5% 25%;
  border-radius: 10%;
  padding: 20px;
}
.page {
  background-color:  #fefbd8;
}
.footer {
  background-color:  #80ced6;
  text-align: center;
  padding: 10px;
}

.heading {
  text-align: center;
}
